<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions to Be placed</title>
    <script src="./a.js"></script>
    {{!-- <script src="../../src/models/interviewer.js"></script>
    <script src="../../src/db/conn.js"></script>
    <script src="../../src/router/route.js"></script>
    <script src="../../src/app.js"></script> --}}
    


    <link rel="stylesheet" href="./style.css">
</head>
<body>
{{>navbar}}
  <div class="show">
  <button  onclick="check()">Show Questions</button>
     
  </div>
  {{>footer}}
</body>
</html>
