<nav id="navbar">
    <div id="logo">
        <p style="color: yellow;font-size:2rem;margin-left:2vw;">
            < /</p>
                <span class="logo_text"> TeRiCoDiNg </span>
                <p style="color: yellow;font-size:2rem;"> ></p>
    </div>
   <div class="list-items">
       <ul>
           <li id="user">  {{useremail}} </li>
       </ul>
   </div>
</nav>